body {
    background-image: url(../images/background2.jpg);
    background-size: 100%;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    text-align: center;
    color: palevioletred;
    padding: 30px;
}

#gameplay-area {
    margin: auto;
    width: fit-content;
    height: auto;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-bottom: 20px;
}